<!DOCTYPE html>
<%= render "/refinery/html_tag" %>
<% site_bar = render('/refinery/site_bar', :head => true) -%>
<head>
  <%= render "/refinery/head" %>
  <%= render "/refinery/javascripts" %>
</head>
<body id="<%= canonical_id @page %>" class="<%= view_template_class @page %>">

<div class="outer-wrap">
  <%= site_bar -%>

  <header class="header-area">
    <div class="centered">
      <%= render "/refinery/header" -%>
    </div>
    <!-- .centered -->
  </header>
  <!-- .header-area -->
  <div class="content">
    <div class="sidebar">
      <div>
        <% cache [I18n.locale, 'main_menu', @page, Refinery::Page.fast_menu.map(&:updated_at).max] do %>
            <%=
                main_menu = Refinery::Pages::MenuPresenter.new(refinery_menu_pages, self)
                main_menu.menu_role = 'navigation'
                main_menu.to_html
            %>
        <% end %></div>
    </div><!-- .sidebar -->
  <main class="main-area">


      <div><%= yield %></div>


  </main>
  </div>    <!-- .content -->
  <footer class="footer-area">
    <%= render "/refinery/footer" -%>
  </footer>

</div><!-- .outer-wrap -->
</body>
</html>
