<!DOCTYPE html>
<%= render "/refinery/html_tag" %>
<% site_bar = render('/refinery/site_bar', :head => true) -%>
<head>
  <%= render "/refinery/head" %>
  <%= render "/refinery/javascripts" %>
</head>
<body id="<%= canonical_id @page %>" class="<%= view_template_class @page %>">

<%= site_bar -%>

<header class="hov-header-area text-center  ">

  <%= render "/refinery/header" -%>

</header>
<div class="container">
  <div class="row">
    <div class="col-xs-5 col-sm-6 col-md-3 col-lg-4">

      <nav class="navbar navbar-inverse">

        <% cache [I18n.locale, 'main_menu', @page, Refinery::Page.fast_menu.map(&:updated_at).max] do %>
            <%=
                main_menu = Refinery::Pages::MenuPresenter.new(refinery_menu_pages, self)
                main_menu.to_html
            %>
        <% end %>
      </nav>
    </div>
    <div class="col-xs-7 col-sm-6 col-md-9 col-lg-8">
      <main class="main-area">

        <div><%= yield %></div>

      </main>
    </div>

  </div>
</div>
<footer class="hov-footer-area text-center">

  <%= render "/refinery/footer" -%>
</footer>


</body>
</html>
