<!DOCTYPE html>
<%= render "/refinery/html_tag" %>
<% site_bar = render('/refinery/site_bar', :head => true) -%>
<head>
  <%= render "/refinery/head" %>
  <%= render "/refinery/javascripts" %>
</head>
<body id="<%= canonical_id @page %>" class="<%= view_template_class @page %>">

<header class="hov-header-area text-center">

  <h1 class="mt-4">Town Incorporation of Massanutten</h1>

  <h2>A Feasibility Study</h2>

</header>

<div class="container text-center">
  <div class="row">
    <div class="col">
    <main>

      <figure class="figure ">
        <img src="../../../system/refinery/images/W1siZiIsIjIwMTgvMDkvMDcvNGRneGduNzV6Nl9ob21lcGFnZW5ldy5qcGciXV0/homepagenew.jpg" width="950px" class="figure-img img-fluid rounded " alt="Town of Massanutten Area">
        <figcaption class="figure-caption"></figcaption>
      </figure>


      <nav class="navbar navbar-expand-sm text-uppercase">
        <div class="container justify-content-center">
          <ul class="navbar-nav hov-secondary-nav">
            <li class="nav-item"><%= link_to "View Report", "/forward", class: "nav-link" %></li>
            <li class="nav-item"> <%= link_to("2019 Update", "/2019-update", class: "nav-link") %></li>
            <li class="nav-item"><%= link_to("Print Report", "/system/refinery/resources/W1siZiIsIjIwMTgvMTAvMTQvNjFlemIzcnk1el90b3duX2luY29ycG9yYXRpb25fc3R1ZHlfZmluYWxfcmVwb3J0LnBkZiJdXQ/town_incorporation_study_final_report.pdf", :target => "_blank", class: "nav-link") %></li>
            <li class="nav-item"><%= link_to("Print Summary", "/system/refinery/resources/W1siZiIsIjIwMTgvMTAvMTQvOHdseHYycHlva190b3duX2luY29ycG9yYXRpb25fc3R1ZHlfZmluYWxfcmVwb3J0X3N1bW1hcnkucGRmIl1d/town_incorporation_study_final_report_summary.pdf", :target => "_blank", class: "nav-link") %></li>
          </ul>
        </div>
      </nav>
    </main>
  </div>
</div>
</div>
<footer class="hov-footer-area text-center">

    <%= render "/refinery/footer" -%>

</footer>


</body>
</html>
