<!DOCTYPE html>
<%= render "/refinery/html_tag" %>
<% site_bar = render('/refinery/site_bar', :head => true) -%>
<head>
  <%= render "/refinery/head" %>
  <%= render "/refinery/javascripts" %>
</head>
<body id="<%= canonical_id @page %>" class="<%= view_template_class @page %>">

<div class="outer-wrap">

  <header class="header-area">
    <div class="centered">
      <div class="site-title">
        <h1>Town Incorporation of Massanutten</h1>

        <p>Feasibility Study</p>
      </div>
      <!-- .site-title -->
    </div>
    <!-- .centered -->

  </header>
  <!-- .masthead -->


  <div class="content">


    <main class="main-area">
      <article class="post-content">
        <div>
          <img src="../../../system/refinery/images/W1siZiIsIjIwMTgvMDkvMDcvNGRneGduNzV6Nl9ob21lcGFnZW5ldy5qcGciXV0/homepagenew.jpg" alt="Town of Massanutten Area" width="940">
        </div>
      </article>
    </main>

  </div>    <!-- .content -->
  <footer class="footer-area">
    <div class="secondary-menu__wrapper">
      <nav class="secondary-menu">
        <div class="secondary-menu__button secondary-menu__flex-item"><%= link_to "View Report", "/forward" %></div>
        <div class="secondary-menu__button secondary-menu__flex-item"><%= link_to("View Videos", "") %></div>
        <div class="secondary-menu__button secondary-menu__flex-item"><%= link_to("Print Report", "/system/refinery/resources/W1siZiIsIjIwMTgvMTAvMTQvNjFlemIzcnk1el90b3duX2luY29ycG9yYXRpb25fc3R1ZHlfZmluYWxfcmVwb3J0LnBkZiJdXQ/town_incorporation_study_final_report.pdf", :target => "_blank") %></div>
        <div class="secondary-menu__button secondary-menu__flex-item"><%= link_to("Print Summary", "/system/refinery/resources/W1siZiIsIjIwMTgvMTAvMTQvOHdseHYycHlva190b3duX2luY29ycG9yYXRpb25fc3R1ZHlfZmluYWxfcmVwb3J0X3N1bW1hcnkucGRmIl1d/town_incorporation_study_final_report_summary.pdf", :target => "_blank") %></div>
      </nav>
    </div>  <!-- .secondary-menu__wrapper -->
    <%= render "/refinery/footer" -%>
  </footer>
</div>  <!-- .outer-wrap -->
</body>
</html>
