<!DOCTYPE html>
<%= render "/refinery/html_tag" %>
<% site_bar = render('/refinery/site_bar', :head => true) -%>
<head>
  <%= render "/refinery/head" %>
  <%= render "/refinery/javascripts" %>
</head>
<body id="<%= canonical_id @page %>" class="<%= view_template_class @page %>">

<div id="page_container">
  <header class="main-header">

    <h1 class="home-title">Town Incorporation of Massanutten <br> Feasibility Study</h1>


  </header>
  <main class="container">
    <div>
      <img src="../../../system/refinery/images/W1siZiIsIjIwMTgvMDkvMDcvNGRneGduNzV6Nl9ob21lcGFnZW5ldy5qcGciXV0/homepagenew.jpg" alt="Town of Massanutten Area" width="940">
    </div>
    <nav class="homeNav">
          <div class="site-navigation">
            <div class="button homeNav_1"><%= link_to "View Report", "/forward" %></div>
            <div class="button homeNav_2"><%= link_to("View Study Videos", "") %></div>
            <div class="button homeNav_3"><%= link_to("Print Final Report", "http://www.townofmassanutten.org/system/refinery/resources/W1siZiIsIjIwMTgvMDkvMjkvNTJ6Z2R1NjRxc190b3duX2luY29ycG9yYXRpb25fc3R1ZHlfZmluYWxfcmVwb3J0LnBkZiJdXQ/town_incorporation_study_final_report.pdf?sha=6337b2abeab9c533", :target => "_blank") %></div>
            <div class="button homeNav_4"><%= link_to("Print Summary", "http://www.townofmassanutten.org/system/refinery/resources/W1siZiIsIjIwMTgvMDkvMjkvNmdrempkMWYyel90b3duX2luY29ycG9yYXRpb25fc3R1ZHlfZmluYWxfcmVwb3J0X3N1bW1hcnkucGRmIl1d/town_incorporation_study_final_report_summary.pdf?sha=db254b2a2f0a6dd6", :target => "_blank") %></div>
          </div>
    </nav>
  </main>
  <footer class="main-footer" role="contentinfo">
    <%= render "/refinery/footer" -%>
  </footer>
</div>
</body>
</html>
